<a href="https://colab.research.google.com/github/nathaly10/python/blob/main/Introdu%C3%A7%C3%A3o_ao_Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 35 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 31.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=4b78b5d4544e223cd9b339d9bad5bc64c9ba5e76685debbbb6398cb09e0baa9f
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [ ]:
#CONFIGURAR A NOSSA SPARKSESSION
spark = (SparkSession.builder
        .master("local")
        .appName("aprendendo-dataframes")
        .config("spark.ui.port", "4050")
        .getOrCreate())

In [ ]:
spark

In [ ]:
#CRIANDO DATAFRAMES NO PYSPARK
dados = [
         ("João da Silva", "São Paulo", "SP", 1100.00),
         ("Maria dos Santos", "São Paulo", "SP", 2100.00),
         ("Carlos Victor", "Rio de Janeiro", "RJ", 2100.00),
         ("Pedro José", "Maceió", "AL", 3600.00)
]
esquema = ["nome", "cidade", "estado", "salario"]

df = spark.createDataFrame(data=dados, schema=esquema)
df.show(200)
df.printSchema()

+----+------+------+-------+
|nome|cidade|estado|salario|
+----+------+------+-------+
+----+------+------+-------+
only showing top 0 rows

root
 |-- nome: string (nullable = true)
 |-- cidade: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- salario: double (nullable = true)

In [ ]:
#IMPORTANDO CSV NO PYSPARK
df2 = (spark
       .read
       .format("csv")
       .option("header", "true")
       .option("inferschema", "true")
       .option("delimiter", ";")
       .load("/content/drive/MyDrive/Datasets/arquivo_geral.csv")
)

In [ ]:
df2.printSchema()
df2.show(10)

root
 |-- regiao: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- data: string (nullable = true)
 |-- casosNovos: integer (nullable = true)
 |-- casosAcumulados: integer (nullable = true)
 |-- obitosNovos: integer (nullable = true)
 |-- obitosAcumulados: integer (nullable = true)

+------+------+----------+----------+---------------+-----------+----------------+
|regiao|estado|      data|casosNovos|casosAcumulados|obitosNovos|obitosAcumulados|
+------+------+----------+----------+---------------+-----------+----------------+
| Norte|    RO|2020-01-30|         0|              0|          0|               0|
| Norte|    RO|2020-01-31|         0|              0|          0|               0|
| Norte|    RO|2020-02-01|         0|              0|          0|               0|
| Norte|    RO|2020-02-02|         0|              0|          0|               0|
| Norte|    RO|2020-02-03|         0|              0|          0|               0|
| Norte|    RO|2020-02-04|         0|              0|          0|               0|
| Norte|    RO|2020-02-05|         0|              0|          0|               0|
| Norte|    RO|2020-02-06|         0|              0|          0|               0|
| Norte|    RO|2020-02-07|         0|              0|          0|               0|
| Norte|    RO|2020-02-08|         0|              0|          0|               0|
+------+------+----------+----------+---------------+-----------+----------------+
only showing top 10 rows

In [ ]:
df2.printSchema()

root
 |-- regiao: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- data: string (nullable = true)
 |-- casosNovos: integer (nullable = true)
 |-- casosAcumulados: integer (nullable = true)
 |-- obitosNovos: integer (nullable = true)
 |-- obitosAcumulados: integer (nullable = true)

In [ ]:
df2.count()

2349

In [ ]:
#COMANDOS SELECT E FILTER
#SELECT - 1ª FORMA DE UTILIZAÇÃO
df2.select("regiao", "estado", "data", "casosNovos").show(100)

In [ ]:
#UTILIZANDO AS FUNCTIONS PARA TRABALHAR COM COLUNAS
#SELECT - 2ª FORMA DE UTILIZAÇÃO
df2.select(F.col("regiao"), F.col("estado"), F.col("data"), F.col("casosNovos")).show(20)

In [ ]:
#EXIBIR A REGIÃO, ESTADO E CASOS NOVOS APENAS DA REGIÃO NORTE
#df2.select(F.col("regiao"), F.col("estado"), F.col("casosNovos")).filter(F.col("regiao") == "Sul").show(50)

df2.filter(F.col("estado") == "SP").show(30)

In [ ]:
#2ª MANEIRA - EXIBIR A REGIÃO, ESTADO E CASOS NOVOS APENAS DA REGIÃO NORTE
df2.select(F.col("regiao"),
           F.col("estado"),
           F.col("casosNovos"))\
.filter(df2.regiao == "Nordeste")\
.show(10)

+--------+------+----------+
|  regiao|estado|casosNovos|
+--------+------+----------+
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
+--------+------+----------+
only showing top 10 rows

In [ ]:
#3ª MANEIRA - EXIBIR A REGIÃO, ESTADO E CASOS NOVOS APENAS DA REGIÃO NORTE
df2.select(F.col("regiao"),
           F.col("estado"),
           F.col("casosNovos"))\
           .filter("regiao = 'Sudeste'")\
           .show(10)

+-------+------+----------+
| regiao|estado|casosNovos|
+-------+------+----------+
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
+-------+------+----------+
only showing top 10 rows

In [ ]:
#4ª MANEIRA - EXIBIR A REGIÃO, ESTADO E CASOS NOVOS APENAS DA REGIÃO NORTE
filtro = F.col("regiao") == "Sul"
df2.select(F.col("regiao"), F.col("estado"), F.col("casosNovos")).filter(filtro).show(10)

+------+------+----------+
|regiao|estado|casosNovos|
+------+------+----------+
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
+------+------+----------+
only showing top 10 rows

In [ ]:
#CRIANDO UMA LISTA DINÂMICA COM VÁRIAS COLUNAS PARA SE UTILIZAR DENTRO DO COMANDO SELECT
lista_colunas = ["regiao", "estado", "casosNovos", "obitosNovos", "obitosAcumulados"]
df2.select(lista_colunas).show(20)

+------+------+----------+-----------+----------------+
|regiao|estado|casosNovos|obitosNovos|obitosAcumulados|
+------+------+----------+-----------+----------------+
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
+------+------+----------+-----------+----------------+
only showing top 20 rows

root
 |-- regiao: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- data: string (nullable = true)
 |-- casosNovos: integer (nullable = true)
 |-- casosAcumulados: integer (nullable = true)
 |-- obitosNovos: integer (nullable = true)
 |-- obitosAcumulados: integer (nullable = true)

In [ ]:
#APLICAR MAIS DE UM FILTRO DENTRO DO DATAFRAME
#FAZER FILTRAGEM PELA REGIÃO NORTE E ESTADO DO AMAZONAS
df2.select(F.col("regiao"), F.col("estado"))\
                .filter(F.col("regiao") == "Norte")\
                .filter(F.col("estado") == "AM")\
                .show(100)

In [ ]:
df2.filter(F.col("regiao") == "Norte").filter(F.col("estado") == "AM").show(20)

In [ ]:
#SEGUNDA MANEIRA DE SE UTILIZAR O FILTER MAIS DE UMA VEZ
df2.filter("regiao = 'Norte' and estado = 'AM'").show(10)
df2.filter("regiao = 'Norte' or estado = 'AM'").show(10)

+------+------+----------+----------+---------------+-----------+----------------+
|regiao|estado|      data|casosNovos|casosAcumulados|obitosNovos|obitosAcumulados|
+------+------+----------+----------+---------------+-----------+----------------+
| Norte|    AM|2020-01-30|         0|              0|          0|               0|
| Norte|    AM|2020-01-31|         0|              0|          0|               0|
| Norte|    AM|2020-02-01|         0|              0|          0|               0|
| Norte|    AM|2020-02-02|         0|              0|          0|               0|
| Norte|    AM|2020-02-03|         0|              0|          0|               0|
| Norte|    AM|2020-02-04|         0|              0|          0|               0|
| Norte|    AM|2020-02-05|         0|              0|          0|               0|
| Norte|    AM|2020-02-06|         0|              0|          0|               0|
| Norte|    AM|2020-02-07|         0|              0|          0|               0|
| Norte|    AM|2020-02-08|         0|              0|          0|               0|
+------+------+----------+----------+---------------+-----------+----------------+
only showing top 10 rows

+------+------+----------+----------+---------------+-----------+----------------+
|regiao|estado|      data|casosNovos|casosAcumulados|obitosNovos|obitosAcumulados|
+------+------+----------+----------+---------------+-----------+----------------+
| Norte|    RO|2020-01-30|         0|              0|          0|               0|
| Norte|    RO|2020-01-31|         0|              0|          0|               0|
| Norte|    RO|2020-02-01|         0|              0|          0|               0|
| Norte|    RO|2020-02-02|         0|              0|          0|               0|
| Norte|    RO|2020-02-03|         0|              0|          0|               0|
| Norte|    RO|2020-02-04|         0|              0|          0|               0|
| Norte|    RO|2020-02-05|         0|              0|          0|               0|
| Norte|    RO|2020-02-06|         0|              0|          0|               0|
| Norte|    RO|2020-02-07|         0|              0|          0|               0|
| Norte|    RO|2020-02-08|         0|              0|          0|               0|
+------+------+----------+----------+---------------+-----------+----------------+
only showing top 10 rows

In [ ]:
#TERCEIRA MANEIRA DE SE UTILIZAR O FILTER MAIS DE UMA VEZ
df2.filter((F.col("regiao") == 'Norte') & (F.col("estado") == 'AM')).show(10)
df2.filter((F.col("regiao") == 'Norte') | (F.col("estado") == 'AM')).show(10)

In [ ]:
#QUINTA FORMA: APLICANDO O FILTER VÁRIAS VEZES
df2.where((F.col("regiao") == 'Sul') & (F.col("estado") == 'RS')).show(10)

+------+------+----------+----------+---------------+-----------+----------------+
|regiao|estado|      data|casosNovos|casosAcumulados|obitosNovos|obitosAcumulados|
+------+------+----------+----------+---------------+-----------+----------------+
|   Sul|    RS|2020-01-30|         0|              0|          0|               0|
|   Sul|    RS|2020-01-31|         0|              0|          0|               0|
|   Sul|    RS|2020-02-01|         0|              0|          0|               0|
|   Sul|    RS|2020-02-02|         0|              0|          0|               0|
|   Sul|    RS|2020-02-03|         0|              0|          0|               0|
|   Sul|    RS|2020-02-04|         0|              0|          0|               0|
|   Sul|    RS|2020-02-05|         0|              0|          0|               0|
|   Sul|    RS|2020-02-06|         0|              0|          0|               0|
|   Sul|    RS|2020-02-07|         0|              0|          0|               0|
|   Sul|    RS|2020-02-08|         0|              0|          0|               0|
+------+------+----------+----------+---------------+-----------+----------------+
only showing top 10 rows

In [ ]:
#UTILIZANDO O LIKE PARA CONSULTAR SUBSTRINGS ESPECÍFICAS DENTRO DE UMA COLUNA
df2.where((F.col("regiao") == 'Norte')).filter("estado like '%A%'").show(1000)

In [ ]:
df2.filter("regiao like 'S%'").show(1000)

In [ ]:
#OUTRA FORMA DE UTILIZAR O FILTRO COM MAIS DE UMA CONDIÇÃO
df2.filter("regiao in ('Norte', 'Sul')").show(1000)

In [ ]:
#OUTRA FORMA DE UTILIZAR O FILTRO COM UMA LISTA DE REGIÕES
lista_regiao = ['Norte', 'Sul']
df2.filter(F.col("regiao").isin(lista_regiao)).show(1000)

In [ ]:
#UTILIZANDO O FILTRO DE UMA FORMA PARECIDA COM O LIKE, MAS COM UMA FUNÇÃO ESPECÍFICA
df2.filter(F.col("regiao").startswith("Sul")).show(100)

In [ ]:
#UTILIZANDO O LIKE COMO UMA FUNÇÃO
df2.filter(F.col("regiao").like("C%")).show(100)