<a href="https://colab.research.google.com/github/nathaly10/python/blob/main/MINI_PROJETO_FINAL_NATHALY(PANDAS).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importando a biblioteca **PANDAS e PANDERA**

>

In [1]:
import pandas as pd

In [2]:
pip install pandera

Collecting pandera
  Downloading pandera-0.16.1-py3-none-any.whl (201 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 201.6/201.6 kB 4.1 MB/s eta 0:00:00
Collecting multimethod (from pandera)
  Downloading multimethod-1.9.1-py3-none-any.whl (10 kB)
Requirement already satisfied: numpy>=1.19.0 in /usr/local/lib/python3.10/dist-packages (from pandera) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from pandera) (23.1)
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from pandera) (1.5.3)
Requirement already satisfied: pydantic<2.0.0 in /usr/local/lib/python3.10/dist-packages (from pandera) (1.10.11)
Collecting typeguard>=3.0.2 (from pandera)
  Downloading typeguard-4.0.0-py3-none-any.whl (33 kB)
Collecting typing-inspect>=0.6.0 (from pandera)
  Downloading typing_inspect-0.9.0-py3-none-any.whl (8.8 kB)
Requirement already satisfied: wrapt in /usr/local/lib/python3.10/dist-packages (from pandera) (1.14.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2.0->pandera) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2.0->pandera) (2022.7.1)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<2.0.0->pandera) (4.7.1)
Collecting mypy-extensions>=0.3.0 (from typing-inspect>=0.6.0->pandera)
  Downloading mypy_extensions-1.0.0-py3-none-any.whl (4.7 kB)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=1.2.0->pandera) (1.16.0)
Installing collected packages: typeguard, mypy-extensions, multimethod, typing-inspect, pandera
Successfully installed multimethod-1.9.1 mypy-extensions-1.0.0 pandera-0.16.1 typeguard-4.0.0 typing-inspect-0.9.0

In [3]:
import pandera as pa

**Relizando a extração para um DataFrame e inserção do separador**

In [4]:
df= pd.read_csv("/content/drive/MyDrive/marketing_campaign.csv", sep=";")
df

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,2013-06-13,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,2014-06-10,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,2014-01-25,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,2014-01-24,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,2012-10-15,40,84,...,7,0,0,0,0,0,0,3,11,1

Tradução do **Schema**

In [5]:
df.rename(columns={'Year_Birth': 'Data_Nascimento', 'Education' :'Escolaridade', 'Marital_Status': 'Estado_Civil' ,'Income':'Renda','Kidhome': 'Qtd_Crianças_Casa','Teenhome': 'Qtd_Adolescentes_Casa','Recency': 'Recência','Complain':'Reclamações','Response': 'Resposta'}, inplace =True)

In [6]:
df.head()

,ID,Data_Nascimento,Escolaridade,Estado_Civil,Renda,Qtd_Crianças_Casa,Qtd_Adolescentes_Casa,Dt_Customer,Recência,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Reclamações,Z_CostContact,Z_Revenue,Resposta
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0

**Pesquisando dados inconsistentes**

In [ ]:
sorted(pd.unique(df['Data_Nascimento']))

**Na coluna "Ano_Nascimento" foram encontrados os seguites anos : 1893,
 1899,
 1900.**
 Onde todos os commpradores efeturam compras com  mais de 100 anos de idade. Realizei o DROP( Exclusão da linha ) por se tratar de um pequena quantidade.

In [15]:
rows_dropped_df=df.drop(df.index[[339,239,192]])

In [17]:
sorted(pd.unique(df['Data_Nascimento']))

[1893,
 1899,
 1900,
 1940,
 1941,
 1943,
 1944,
 1945,
 1946,
 1947,
 1948,
 1949,
 1950,
 1951,
 1952,
 1953,
 1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996]

**TRADUÇÃO**

In [18]:
df.loc[df.Escolaridade=="2n Cyle",["Escolaridade"]] = "Mestrado"
df.loc[df.Escolaridade=="Basic",["Escolaridade"]] = "Básico"
df.loc[df.Escolaridade=="Graduation",["Escolaridade"]] = "Graduação"
df.loc[df.Escolaridade=="Master",["Escolaridade"]] = "Mestrado"
df.loc[df.Escolaridade=="PhD",["Escolaridade"]] = "PósDoutorado"

In [19]:

sorted(pd.unique(df['Escolaridade']))

['2n Cycle', 'Básico', 'Graduação', 'Mestrado', 'PósDoutorado']

Fazendo BackUp da coluna  Estado_Civil

In [20]:
df['backup'] = df.Estado_Civil  #copia da coluna

In [21]:
df.loc[df.Estado_Civil=="Alone",["Estado_Civil"]] = "Sozinho(a)"  #Tradução
df.loc[df.Estado_Civil=="Divorced",["Estado_Civil"]] = "Divorciado(a)"
df.loc[df.Estado_Civil=="Married",["Estado_Civil"]] = "Casado(a)"
df.loc[df.Estado_Civil=="Together",["Estado_Civil"]] = "Acompanhado(a)"
df.loc[df.Estado_Civil=="Widow",["Estado_Civil"]] = "Víuvo(a)"
df.loc[df.Estado_Civil=="Single",["Estado_Civil"]] = "Solteiro(a)"

In [22]:
sorted(pd.unique(df['Estado_Civil']))

['Absurd',
 'Acompanhado(a)',
 'Casado(a)',
 'Divorciado(a)',
 'Solteiro(a)',
 'Sozinho(a)',
 'Víuvo(a)',
 'YOLO']

In [24]:
sorted(pd.unique(df['Renda']))

[1730.0,
 2447.0,
 5648.0,
 7500.0,
 9548.0,
 10245.0,
 10404.0,
 10979.0,
 12571.0,
 14045.0,
 14515.0,
 14849.0,
 15033.0,
 15287.0,
 15345.0,
 16248.0,
 16626.0,
 17323.0,
 18100.0,
 18492.0,
 18589.0,
 18701.0,
 18890.0,
 19510.0,
 19789.0,
 19986.0,
 20130.0,
 20518.0,
 20559.0,
 21918.0,
 21994.0,
 22010.0,
 22070.0,
 22212.0,
 22574.0,
 22585.0,
 22804.0,
 23228.0,
 23295.0,
 23442.0,
 23559.0,
 23616.0,
 23626.0,
 23661.0,
 23718.0,
 23957.0,
 23976.0,
 24027.0,
 24072.0,
 24279.0,
 24480.0,
 24594.0,
 24882.0,
 25271.0,
 25545.0,
 25721.0,
 26091.0,
 26095.0,
 26304.0,
 26326.0,
 26490.0,
 26646.0,
 27038.0,
 27190.0,
 27203.0,
 27213.0,
 27255.0,
 27421.0,
 27938.0,
 28249.0,
 28332.0,
 28442.0,
 28457.0,
 28691.0,
 28718.0,
 28839.0,
 29315.0,
 29440.0,
 29548.0,
 29604.0,
 29672.0,
 29760.0,
 29938.0,
 29999.0,
 30015.0,
 30096.0,
 30279.0,
 30351.0,
 30372.0,
 30477.0,
 30507.0,
 30523.0,
 30630.0,
 30631.0,
 30675.0,
 30732.0,
 30753.0,
 30822.0,
 30833.0,
 30899.0,
 30992.0,
 31160.0,
 31353.0,
 31395.0,
 31615.0,
 31686.0,
 31788.0,
 31880.0,
 32011.0,
 32233.0,
 32303.0,
 32414.0,
 32474.0,
 32557.0,
 32880.0,
 33181.0,
 33183.0,
 33378.0,
 33454.0,
 33456.0,
 33581.0,
 33762.0,
 33812.0,
 33996.0,
 34176.0,
 34320.0,
 34421.0,
 34554.0,
 34935.0,
 35178.0,
 35246.0,
 35388.0,
 35416.0,
 35684.0,
 35688.0,
 35790.0,
 35860.0,
 36138.0,
 36143.0,
 36230.0,
 36443.0,
 36550.0,
 36640.0,
 36921.0,
 37040.0,
 37070.0,
 37401.0,
 37406.0,
 37717.0,
 37760.0,
 38097.0,
 38179.0,
 38285.0,
 38360.0,
 38361.0,
 38415.0,
 38547.0,
 38557.0,
 38578.0,
 38590.0,
 38620.0,
 38643.0,
 38823.0,
 38853.0,
 38872.0,
 38961.0,
 38988.0,
 39665.0,
 39747.0,
 40246.0,
 40321.0,
 40464.0,
 40548.0,
 40637.0,
 40689.0,
 40737.0,
 41124.0,
 41411.0,
 41443.0,
 41551.0,
 41644.0,
 41728.0,
 41850.0,
 41883.0,
 42011.0,
 42207.0,
 42373.0,
 42386.0,
 42387.0,
 42394.0,
 42429.0,
 42618.0,
 42670.0,
 42691.0,
 43057.0,
 43482.0,
 43776.0,
 43795.0,
 43824.0,
 43974.0,
 44124.0,
 44159.0,
 44300.0,
 44319.0,
 44377.0,
 44551.0,
 44794.0,
 45204.0,
 45759.0,
 45989.0,
 46014.0,
 46097.0,
 46098.0,
 46310.0,
 46344.0,
 46377.0,
 46610.0,
 46681.0,
 46854.0,
 46923.0,
 47025.0,
 47823.0,
 47916.0,
 48006.0,
 48178.0,
 48330.0,
 48686.0,
 48721.0,
 48920.0,
 48948.0,
 49096.0,
 49269.0,
 49389.0,
 49505.0,
 49605.0,
 49967.0,
 50150.0,
 50300.0,
 50353.0,
 50388.0,
 50437.0,
 50447.0,
 50520.0,
 50737.0,
 50785.0,
 50898.0,
 50943.0,
 51012.0,
 51148.0,
 51369.0,
 51479.0,
 51529.0,
 51537.0,
 51650.0,
 51813.0,
 52074.0,
 52195.0,
 52332.0,
 52413.0,
 52614.0,
 53359.0,
 53537.0,
 53653.0,
 53790.0,
 53858.0,
 54178.0,
 54198.0,
 54348.0,
 54432.0,
 54803.0,
 55212.0,
 55375.0,
 55521.0,
 55563.0,
 55614.0,
 55635.0,
 55707.0,
 55842.0,
 55951.0,
 55954.0,
 56046.0,
 56129.0,
 56223.0,
 56796.0,
 56937.0,
 57288.0,
 57912.0,
 57959.0,
 58138.0,
 58293.0,
 58308.0,
 58607.0,
 58821.0,
 59292.0,
 59354.0,
 59432.0,
 59809.0,
 60000.0,
 60093.0,
 60152.0,
 60182.0,
 60199.0,
 60597.0,
 60631.0,
 60714.0,
 61010.0,
 61074.0,
 61250.0,
 61286.0,
 61314.0,
 61331.0,
 61456.0,
 61823.0,
 61839.0,
 61905.0,
 62010.0,
 62187.0,
 62204.0,
 62499.0,
 62503.0,
 62513.0,
 62551.0,
 62745.0,
 62981.0,
 62998.0,
 63342.0,
 63381.0,
 63693.0,
 63810.0,
 63841.0,
 63887.0,
 64100.0,
 64325.0,
 64355.0,
 64497.0,
 64795.0,
 64961.0,
 65031.0,
 65073.0,
 65104.0,
 65176.0,
 65275.0,
 65640.0,
 65665.0,
 65747.0,
 65808.0,
 65846.0,
 65991.0,
 66313.0,
 66334.0,
 66426.0,
 66465.0,
 66503.0,
 66582.0,
 66664.0,
 66835.0,
 66951.0,
 66973.0,
 66991.0,
 67272.0,
 67309.0,
 67546.0,
 67911.0,
 68126.0,
 68352.0,
 68462.0,
 68627.0,
 68655.0,
 68682.0,
 69096.0,
 69142.0,
 69267.0,
 69372.0,
 69508.0,
 69661.0,
 69674.0,
 69759.0,
 69867.0,
 70165.0,
 70356.0,
 70503.0,
 70777.0,
 70829.0,
 70893.0,
 70951.0,
 71113.0,
 71367.0,
 71488.0,
 71613.0,
 nan,
 3502.0,
 4023.0,
 4428.0,
 4861.0,
 5305.0,
 6560.0,
 6835.0,
 7144.0,
 8028.0,
 8820.0,
 8940.0,
 9255.0,
 9722.0,
 11012.0,
 11448.0,
 12393.0,
 13084.0,
 13260.0,
 13533.0,
 13624.0,
 13672.0,
 13724.0,
 14188.0,
 14421.0,
 14661.0,
 14796.0,
 14906.0,
 14918.0,
 15038.0,
 15056.0,
 15072.0,
 15253.0,
 15315.0,
 15716.0,
 15759.0,
 15862.0,
 16005.0,
 16014.0,
 16185.0,
 16269.0,
 16529.0,
 16531.0,
 16581.0,
 16653.0,
 16813.0,
 16860.0,
 16927.0,
 17003.0,
 17117.0,
 17144.0,
 17148.0,
 17256.0,
 17345.0,
 17459.0,
 17487.0,
 17649.0,
 17688.0,
 18169.0,
 18222.0,
 18227.0,
 18351.0,
 18358.0,
 18393.0,
 18690.0,
 18746.0,
 18793.0,
 18929.0,
 18978.0,
 18988.0,
 19107.0,
 19329.0,
 19346.0,
 19414.0,
 19419.0,
 19444.0,
 19485.0,
 19514.0,
 19656.0,
 19740.0,
 20180.0,
 20193.0,
 20194.0,
 20425.0,
 20427.0,
 20491.0,
 20587.0,
 20895.0,
 20981.0,
 21024.0,
 21059.0,
 21063.0,
 21255.0,
 21282.0,
 21355.0,
 21359.0,
 21474.0,
 21645.0,
 21675.0,
 21840.0,
 21846.0,
 21888.0,
 21955.0,
 22063.0,
 22108.0,
 22123.0,
 22148.0,
 22263.0,
 22280.0,
 22304.0,
 22327.0,
 22390.0,
 22419.0,
 22434.0,
 22448.0,
 22507.0,
 22518.0,
 22554.0,
 22634.0,
 22669.0,
 22682.0,
 22701.0,
 22775.0,
 22944.0,
 22979.0,
 23091.0,
 23148.0,
 23162.0,
 23272.0,
 23331.0,
 23477.0,
 23478.0,
 23529.0,
 23536.0,
 23539.0,
 23724.0,
 23748.0,
 23763.0,
 23830.0,
 23910.0,
 24163.0,
 24206.0,
 24221.0,
 24336.0,
 24367.0,
 24401.0,
 24434.0,
 24570.0,
 24639.0,
 24645.0,
 24683.0,
 24711.0,
 24762.0,
 24884.0,
 25008.0,
 25130.0,
 25176.0,
 25224.0,
 25252.0,
 25293.0,
 25315.0,
 25358.0,
 25410.0,
 25443.0,
 25509.0,
 25707.0,
 25804.0,
 25818.0,
 25851.0,
 25930.0,
 25959.0,
 25965.0,
 26067.0,
 26150.0,
 26224.0,
 26228.0,
 26290.0,
 26487.0,
 26518.0,
 26576.0,
 26642.0,
 26751.0,
 26759.0,
 26816.0,
 26850.0,
 26868.0,
 26872.0,
 26877.0,
 26887.0,
 26907.0,
 26954.0,
 26997.0,
 27071.0,
 27100.0,
 27116.0,
 27159.0,
 27161.0,
 27215.0,
 27238.0,
 27242.0,
 27244.0,
 27450.0,
 27469.0,
 27573.0,
 27590.0,
 27683.0,
 27733.0,
 27803.0,
 27889.0,
 27922.0,
 27943.0,
 28071.0,
 28072.0,
 28087.0,
 28164.0,
 28320.0,
 28359.0,
 28389.0,
 28420.0,
 28427.0,
 28440.0,
 28510.0,
 28520.0,
 28567.0,
 28587.0,
 28647.0,
 28764.0,
 28769.0,
 28973.0,
 29009.0,
 29103.0,
 29187.0,
 29236.0,
 29298.0,
 29435.0,
 29478.0,
 29543.0,
 29732.0,
 29791.0,
 29819.0,
 30023.0,
 30081.0,
 30093.0,
 30168.0,
 30261.0,
 30298.0,
 30368.0,
 30390.0,
 30396.0,
 30467.0,
 30522.0,
 30538.0,
 30545.0,
 30560.0,
 30772.0,
 30801.0,
 30828.0,
 30843.0,
 30983.0,
 31056.0,
 31086.0,
 31089.0,
 31158.0,
 31163.0,
 31385.0,
 31454.0,
 31497.0,
 31535.0,
 31560.0,
 31590.0,
 31605.0,
 31626.0,
 31632.0,
 31761.0,
 31814.0,
 31859.0,
 31878.0,
 31907.0,
 31928.0,
 32144.0,
 32146.0,
 32173.0,
 32218.0,
 32300.0,
 32313.0,
 32583.0,
 32632.0,
 32644.0,
 32727.0,
 32765.0,
 32871.0,
 32889.0,
 32892.0,
 32952.0,
 33039.0,
 33051.0,
 33168.0,
 33178.0,
 33228.0,
 33235.0,
 33249.0,
 33279.0,
 33316.0,
 33402.0,
 33419.0,
 33438.0,
 33444.0,
 33462.0,
 33471.0,
 33562.0,
 33564.0,
 33569.0,
 33585.0,
 33590.0,
 33622.0,
 33629.0,
 33697.0,
 33955.0,
 33986.0,
 34026.0,
 34043.0,
 34053.0,
 34074.0,
 34109.0,
 34213.0,
 34230.0,
 34242.0,
 34350.0,
 34377.0,
 34380.0,
 34412.0,
 34445.0,
 34469.0,
 34487.0,
 34529.0,
 34578.0,
 34587.0,
 34596.0,
 34600.0,
 34633.0,
 34704.0,
 34728.0,
 34738.0,
 34824.0,
 34838.0,
 34853.0,
 34916.0,
 34941.0,
 34961.0,
 34968.0,
 34984.0,
 35196.0,
 35322.0,
 35340.0,
 35441.0,
 35523.0,
 35544.0,
 35641.0,
 35682.0,
 35701.0,
 35704.0,
 35765.0,
 35788.0,
 35791.0,
 35797.0,
 35876.0,
 35893.0,
 35924.0,
 35946.0,
 36026.0,
 36038.0,
 36065.0,
 36075.0,
 36108.0,
 36130.0,
 36145.0,
 36262.0,
 36273.0,
 36283.0,
 36301.0,
 36317.0,
 36408.0,
 36627.0,
 36634.0,
 36663.0,
 36715.0,
 36732.0,
 36736.0,
 36778.0,
 36781.0,
 36790.0,
 36802.0,
 36807.0,
 36864.0,
 36927.0,
 36930.0,
 36947.0,
 36957.0,
 36959.0,
 36975.0,
 36997.0,
 37054.0,
 37085.0,
 37087.0,
 37126.0,
 37150.0,
 37155.0,
 37235.0,
 37244.0,
 37284.0,
 37292.0,
 37334.0,
 37368.0,
 37395.0,
 37509.0,
 37633.0,
 37697.0,
 37716.0,
 37758.0,
 37774.0,
 37787.0,
 37859.0,
 37929.0,
 37971.0,
 38054.0,
 38136.0,
 38175.0,
 38196.0,
 38197.0,
 38200.0,
 38201.0,
 38232.0,
 38236.0,
 38410.0,
 38443.0,
 38452.0,
 38508.0,
 38513.0,
 38576.0,
 38593.0,
 38680.0,
 38683.0,
 38702.0,
 38725.0,
 38741.0,
 38808.0,
 38829.0,
 38887.0,
 38946.0,
 38998.0,
 39062.0,
 39146.0,
 39190.0,
 39228.0,
 39356.0,
 39435.0,
 39453.0,
 39548.0,
 39552.0,
 39660.0,
 39684.0,
 39722.0,
 39763.0,
 39767.0,
 39771.0,
 39791.0,
 39858.0,
 39898.0,
 39922.0,
 39996.0,
 40049.0,
 40059.0,
 40101.0,
 40211.0,
 40233.0,
 40304.0,
 40344.0,
 40442.0,
 40451.0,
 40479.0,
 40521.0,
 40590.0,
 40662.0,
 40706.0,
 40760.0,
 40780.0,
 40794.0,
 40800.0,
 40851.0,
 40887.0,
 41003.0,
 41014.0,
 41020.0,
 41021.0,
 41039.0,
 41120.0,
 41145.0,
 41154.0,
 41275.0,
 41335.0,
 41437.0,
 41452.0,
 41473.0,
 41580.0,
 41638.0,
 41658.0,
 41713.0,
 41769.0,
 41967.0,
 41986.0,
 42000.0,
 42014.0,
 42021.0,
 42033.0,
 42081.0,
 42160.0,
 42162.0,
 42169.0,
 42192.0,
 42213.0,
 42231.0,
 42243.0,
 42315.0,
 42395.0,
 42403.0,
 42473.0,
 42523.0,
 42554.0,
 42557.0,
 42564.0,
 42586.0,
 42607.0,
 42664.0,
 42693.0,
 42710.0,
 42720.0,
 42731.0,
 42767.0,
 42769.0,
 42835.0,
 42873.0,
 42997.0,
 43018.0,
 43020.0,
 43050.0,
 43140.0,
 43142.0,
 43185.0,
 43263.0,
 43269.0,
 43300.0,
 43322.0,
 43456.0,
 43462.0,
 43586.0,
 43602.0,
 43638.0,
 43641.0,
 43783.0,
 43815.0,
 44010.0,
 44051.0,
 44078.0,
 44155.0,
 44213.0,
 44267.0,
 44322.0,
 44325.0,
 44359.0,
 44375.0,
 44392.0,
 44393.0,
 44421.0,
 44503.0,
 44511.0,
 44512.0,
 44529.0,
 44602.0,
 44635.0,
 44689.0,
 44802.0,
 44911.0,
 44931.0,
 44953.0,
 44964.0,
 44989.0,
 45006.0,
 45057.0,
 45068.0,
 45072.0,
 45143.0,
 45146.0,
 45160.0,
 45183.0,
 45203.0,
 45207.0,
 45503.0,
 45576.0,
 45579.0,
 45684.0,
 45688.0,
 45736.0,
 45837.0,
 45889.0,
 45894.0,
 45903.0,
 45906.0,
 45921.0,
 45938.0,
 46015.0,
 46049.0,
 ...]

In [25]:
sorted(pd.unique(df['Qtd_Crianças_Casa']))

[0, 1, 2]

In [26]:
sorted(pd.unique(df['Qtd_Adolescentes_Casa']))

[0, 1, 2]

In [ ]:
sorted(pd.unique(df['Dt_Customer']))

In [ ]:
sorted(pd.unique(df['Recência']))

In [ ]:
sorted(pd.unique(df['MntWines']))

In [ ]:
sorted(pd.unique(df['MntFruits']))

In [ ]:
sorted(pd.unique(df['MntMeatProducts']))

In [ ]:
sorted(pd.unique(df["MntFishProducts"]))

In [ ]:
sorted(pd.unique(df["MntSweetProducts"]))

In [ ]:
sorted(pd.unique(df['MntGoldProds']))

In [ ]:
sorted(pd.unique(df["NumDealsPurchases"]))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15]

In [ ]:
sorted(pd.unique(df['NumWebPurchases']))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 23, 25, 27]

In [ ]:
sorted(pd.unique(df['NumCatalogPurchases']))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 22, 28]

In [ ]:
sorted(pd.unique(df['NumStorePurchases']))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [ ]:
sorted(pd.unique(df['NumWebVisitsMonth']))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 14, 17, 19, 20]

In [ ]:
sorted(pd.unique(df['AcceptedCmp3']))

[0, 1]

In [ ]:
sorted(pd.unique(df['AcceptedCmp4']))

[0, 1]

In [ ]:
sorted(pd.unique(df['AcceptedCmp5']))

[0, 1]

In [ ]:
sorted(pd.unique(df['AcceptedCmp1']))

[0, 1]

In [ ]:
sorted(pd.unique(df['AcceptedCmp2']))

[0, 1]

In [ ]:
sorted(pd.unique(df['Reclamações']))

[0, 1]

In [ ]:
sorted(pd.unique(df['Z_CostContact']))

[3]

In [ ]:
sorted(pd.unique(df['Z_Revenue']))

[11]